{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - StressTrack</title>
    <link rel="stylesheet" href="{% static 'inicio/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}">
</head>

<body>
    <header class="header" id="home">
        <div class="menu container">
            <img src="{% static 'img/iconStressName.png' %}" alt="" id="logo">
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="{% static 'img/menu.png' %}" class="menu-icon" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#home">Inicio</a></li>
                    <li><a href="#funcionalidades">Funcionalidades</a></li>
                    <li><a href="#">Beneficios</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
            <a id="btnLogin" class="btn-sign_in">Iniciar Sesión</a>
        </div>
        <div class="header-content container">
            <div class="header-txt">
                <h1>Bienvenido a StressTrack</h1>
                <p>Ayudamos a gestionar el estrés académico para un mejor rendimiento y bienestar.
                </p>
                <a id="btnRegister" class="btn-register">Registrate</a>
            </div>
        </div>
    </header>

    <section class="info-1" id="funcionalidades">
        <div class="info-content container">
            <h2>Funcionalidades</h2>
            <div class="info-circle">
                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>1</h3>
                    </div>
                    <p>TEST DE ESTRÉS</p>
                    <p>a</p>
                </div>

                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>2</h3>
                    </div>
                    <p>ACCESO PERSONALIZADO</p>
                    <p>a</p>
                </div>

                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>3</h3>
                    </div>
                    <p>NOTIFICACIONES</p>
                    <p>a</p>
                </div>

                <div class="circle-txt">
                    <div class="circle-1">
                        <h3>4</h3>
                    </div>
                    <p>RECOMENDACIONES</p>
                    <P>a</P>
                </div>
            </div>
        </div>

    </section>

    <section class="general container">
        <h2>nose</h2>
        <div class="general-container">
            <div class="general-1 txt">
                <h3>nose1</h3>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Voluptates, sequi nam nisi cupiditate odio tenetur voluptatum
                    et similique quam voluptate sit, explicabo culpa modi laboriosam
                    veritatis corporis distinctio voluptas. Libero.
                </p>
            </div>
        </div>
    </section>

    <footer>
        <p>StressTrack &copy; 2024. Todos los derechos reservados.</p>
    </footer>

    <!-- Modal de Inicio de Sesión -->
    <div id="modal-login" class="modal">
        <div class="modal-content">
            <!--<span class="close-button">&times;</span>-->
            <h1>Iniciar Sesión en StressTrack</h1>
            <form action="{% url 'sign_in' %}" method="post">
                {% csrf_token %}

                <div class="input-field">
                    <label for="user">Dirección de Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>

                <div class="input-field">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <button type="submit" id="submit_button">Iniciar Sesión</button>
            </form>
        </div>
    </div>

    <!-- Modal de Registro -->
    <div id="modal-register" class="modal">
        <div class="modal-content">
            <!--<span class="close-button">&times;</span>-->
            <h1>Regístrate en StressTrack</h1>
            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="input-field">
                    <label for="nombre">Nombre y Apellido</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" required>
                </div>
                <div class="input-field">
                    <label for="dni">DNI</label>
                    <input type="text" name="dni" id="dni" class="form-control" maxlength="10" required>
                </div>
                <div class="input-field">
                    <label for="email">Dirección de Email</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <div class="input-field">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" class="form-control" required>
                </div>
                <button type="submit" id="submit_button">Registrarse</button>
            </form>
        </div>
    </div>

    <script>

        const loginModal = document.getElementById("modal-login");
        const loginButton = document.getElementById("btnLogin");

        const registerModal = document.getElementById("modal-register");
        const registerButton = document.getElementById("btnRegister");


        loginButton.onclick = function () {
            loginModal.style.display = "flex";
        }

        registerButton.onclick = function () {
            registerModal.style.display = "flex";
        }

        window.onclick = function (event) {
            if (event.target == loginModal) {
                loginModal.style.display = "none";
            }
            if (event.target == registerModal) {
                registerModal.style.display = "none";
            }
        }

    </script>
</body>

</html>