{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario - StressTrack</title>
    <link rel="stylesheet" href="{% static 'stylesPerfil.css' %}">
</head>
<body>
    <header>
        <h1>Perfil de Usuario</h1>
        <nav>
            <a href="{% url 'index' %}">Cerrar Sesión</a>
        </nav>
    </header>

    <main class="main-content">
        <h2>Información Personal</h2>
        <div class="profile-info">
            <p><strong>Nombre:</strong> {{ usuario.nombre }}</p>
            <p><strong>Correo Electrónico:</strong> {{ usuario.email }}</p>

            <button id="editProfileBtn" class="action-btn edit">Editar Perfil</button>
        </div>

        <h3>Eliminar Cuenta</h3>
        <form action="" method="post">
            {% csrf_token %}
            <button type="submit" class="action-btn delete">Eliminar Cuenta</button>
        </form>
    </main>

    <footer>
        <p>StressTrack &copy; 2024. Todos los derechos reservados.</p>
    </footer>

    <!-- Modal para editar perfil -->
    <div id="editProfileModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Editar Perfil</h2>
            <form action="" method="post">
                {% csrf_token %}
                <input type="text" name="nombre" value="{{ usuario.nombre }}">
                <input type="email" name="email" value="{{ usuario.email }}">
                <input type="password" name="password">
                <button type="submit">Guardar Cambios</button>
            </form>
        </div>
    </div>

    <script>
        // Script para mostrar y ocultar la ventana modal
        const modal = document.getElementById("editProfileModal");
        const btn = document.getElementById("editProfileBtn");
        const span = document.getElementsByClassName("close")[0];

        btn.onclick = function() {
            modal.style.display = "block";
        }

        span.onclick = function() {
            modal.style.display = "none";
        }

        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
</body>
</html>
